.Frontend .Home .EnrolmentForm .enrolment-form-item .title {
    color: var(--secondary);
    font-weight: 400;
}

.Frontend .Home .EnrolmentForm .enrolment-form-item.selected .title {
    color: var(--green);
    font-weight: 700;
}

.Frontend .Home .EnrolmentForm .enrolment-form-item .circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: var(--green-25);
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Frontend .Home .EnrolmentForm .enrolment-form-item.selected .circle {
    color: var(--white);
    background-color: var(--green);
}