.Frontend .Home .banner {
    height: 50vh;
}

.Frontend .Home .carousel-inner {
    height: 100% !important;
}

.Frontend .Home .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.Frontend .Home .text {
    z-index: 10;
    padding: 60px 0;
}

.Frontend .Home #enrolments .thin-line {
    height: 500px;
    width: 0.5px;
    background-color: var(--border);
    position: absolute;
    top: 25px;
    right: 0;
}

.Frontend .Home #enrolments .thin-line .thick-line {
    height: 150px;
    width: 5px;
    background-color: var(--greenblue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
    .Frontend .Home .text {
        min-height: auto;
    }
}
